/* TODO: Double check the text. Is it too long? If so make it fit more naturally */
/* TODO: Add a minor breakpoint if possible */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.hide {
  display: none;
}

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  margin-top: 0.25rem;
}

.header__inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header__logo-container {
  width: 25%;
  margin: 0.25rem;
}

.header__logo {
  height: 72px;
  align-self: center;
  width: 74px;
}

.header__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0.25em;
  width: 75%;
  color: #212121;
  align-self: center;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px 0;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  padding: 1rem;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 48%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  float: right;
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  min-width: 48px;
  min-height: 48px;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  float: left;
  padding-top: 1em;
  width: 100%;
}

.results {
  width: 100%;
  border-collapse: collapse;
}

.results th,
.results td {
  padding: 1em;
}

.results th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.results tr:nth-child(odd) td {
  background-color: #fff;
}

.results tr:nth-child(even) td {
  background-color: #eceff1;
}

.results td {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  padding: 1em;
  width: 100%;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  box-sizing: border-box;
  padding: 1rem 0;
  min-width: 48px;
  min-height: 48px;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 1em;
}

footer a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  padding: 1rem;
  min-width: 48px;
  min-height: 48px;
}

@media screen and (min-width: 450px) {
  .header__logo-container {
    width: 106px;
  }

  .header__title {
    font-size: 3em;
  }
}

@media screen and (min-width: 480px) {
  .results .hide {
    display: table-cell;
  }
}

@media screen and (min-width: 750px) {
  .hero,
  .top-news {
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  body {
    width: 850px;
    margin: 0 auto;
  }

  .hero article {
    height: 30%;
  }

  .scores {
    width: 50%;
  }

  .weather {
    width: 50%;
  }
}
